# Maven
target/
pom.xml.bak
!.mvn/wrapper/maven-wrapper.jar

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/*.tfvars

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# OS
.DS_Store
